.btn {
    font-size: 20px;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    cursor: pointer;
    border-style: none;
    text-decoration: none;
}

.btn:hover {
    transition: 0.5s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.btn_success {
    background: #00a400;
    color: white;
}

.btn_warning {
    background: #f18b00;
    color: white;
}

.btn_action {
    background: #006be5;
    color: white;
}

.btn_info {
    background: #00b3dc;
    color: white;
}

.btn_danger {
    background: #c90000;
    color: white;
}

.input {
    font-size: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    cursor: pointer;
    border-style: none;
}

.bottom {
    font-size: 20px;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    cursor: pointer;
    border-style: none;
}